{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'design.css' %}">
    <title>Change Password</title>
    <style>
        input, select {
            text-transform: none !important;
        }
    </style>
</head>
<body class="sa">
    <form class="out" action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <h1>You Can Change<br>Your Password Here</h1>
        {% if msg %}
            <h3 style="color: aqua;">{{ msg }}</h3>
        {% endif %}
        <select name="account_number" required>
            <option value="" selected disabled>--Account No.--</option>
            {% for i in acc %}
                <option value="{{ i.1 }}" style="color: black; font-size: 1.2em;">{{ i.0 }}</option>
            {% endfor %}
        </select>
        <input type="password" placeholder="Original Password" name="oldpassword" required>
        <input type="password" placeholder="New Password" name="newpassword" required>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>