<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='design.css')}}">
    <title>new one</title>
</head>
<body class="sa">
    <form class="kp" method="POST" action="/applycreditcard"> 
        <h1> application for credit card</h1> 
        <select name="account_number" required>
            <option value="" selected disabled>--Account No.--</option>
            {% for i in acc%}
                <option value={{i[1]}} style="color: black; font-size: 1.2em;">{{i[0]}}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="acc holder name" name="holder_name" autocomplete="none">
        <input type="address" placeholder="enter the address" name="address" autocomplete="none">
        <input type="phone number" placeholder="enter the phone number" name="phone_number" autocomplete="none">
        <input type="submit" value="Submit">
    </form>
    <form class="hp" method="POST" action="/applychequebook"> 
        <h1> application for cheque book</h1> 
        <select name="account_number" required>
            <option value="" selected disabled>--Account No.--</option>
            {% for i in acc%}
                <option value={{i[1]}} style="color: black; font-size: 1.2em;">{{i[0]}}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="acc holder name" name="holder_name" autocomplete="none">
        <input type="address" placeholder="enter the address" name="address" autocomplete="none">
        <input type="phone number" placeholder="enter the phone number" name="phone_number" autocomplete="none">
        <input type="submit" value="Submit">
    </form>
</body>
</html>