<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'design.css' %}">
    <title>Contact Us</title>
</head>
<body class="kal">
    <div class="yours">
        <h1>Contact Information:</h1>
        <h2>For Transaction Query:</h2>
        <p>Email to: g17miniproject@gmail.com</p>
        <p>Phone number: 91+9177497596</p>
        <h2>Thanks for your visit<br>to Gringgots Bank</h2>
    </div>    
</body>
</html>