{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'design.css' %}">
    <title>Update Interest Rates</title>
</head>
<body class="fal">
    <div class="inp">
        <form action="{% url 'interest_rates' %}" method="POST">
            {% csrf_token %}
            <h1>Update Rate of Interest</h1>
            <h4>Gold Interest Rate</h4>
            <input type="text" value="{{ interest.gold }}" name="gold_interest_rate"> 
            <h4>Educational Interest Rate</h4> 
            <input type="text" value="{{ interest.education }}" name="edu_interest_rate"> 
            <h4>Personal Loan Interest Rate</h4> 
            <input type="text" value="{{ interest.personal }}" name="personal_loan_interest_rate">
            <h4>Fixed Deposit Rate of Interest</h4> 
            <input type="text" value="{{ interest.FD }}" name="FD_interest_rate">
            <input type="submit" value="Update">
        </form>     
    </div>
</body>
</html>