<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='design.css')}}">
    <title>change password</title>
</head>
<body class="sa">
    <form class="out" action="/changepassword" method="POST">
        <h1> you can change<br> your password here</h1>
        <h3 style="color: aqua;">{{msg}}</h3>
        <select name="account_number" required>
            <option value="" selected disabled>--Account No.--</option>
            {% for i in acc%}
                <option value={{i[1]}} style="color: black; font-size: 1.2em;">{{i[0]}}</option>
            {% endfor %}
        </select>
        <input type="password" placeholder="original password" name="oldpassword">
        <input type="password" placeholder="new password" name="newpassword">
        <input type="submit" value="submit">
    </form>
   
    
</body>
</html>