<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='design.css')}}" >
    <title>Document</title>
</head>
<body class="kal">
    <div class="yours">
        <h1 yours> contact information:</h1><br>
        <h2> for transaction query :</h2>
        <text> email to :g17miniproject@gmail.com</text><br>
        <last> phone number: 91+9756653278</last>
        <h2>  Thanks for your visit<br> to our bank</h2>
    </div>    
</body>
</html>