<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='design.css')}}">
    <title>nominee</title>
    <style> p{text-align: center; font-size:60px; color: white;}</style>
</head>
<body class="sa">
    <p>  WORK DONE BY<br> WINDOW EMPLOYEE</p>
    <div>
        <form class="ph"> 
            <h1> application for credit card</h1> 
            <input type="text" placeholder="acc number" required>
            <input type="text" placeholder="acc holder name" required>
            <input type="text" placeholder="add\change nominee" required>
            <input type="password" placeholder="privacy key" required>
            <input type="submit" value="Submit">
        </form>
    </div> 
</body>
</html>