<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='design.css')}}" >
    <title>credi card application</title>
    <style>  h1{ text-align: center;}</style>
</head>
<body class="sa">
    <h1>PROCESS DONE BY WINDOW EMPLOYEE</h1>
    <form class="kp"> 
        <h1> application for credit card</h1> 
        <input type="text" placeholder="acc number" required>
        <input type="text" placeholder="acc holder name" required>
        <input type="address" placeholder="enter the address" required>
        <input type="phone number" placeholder="enter the phone number" required>
        <input type="password" placeholder="privacy key" required>
        <input type="submit" value="Submit">
    </form>
    <form class="hp"> <h1> application for cheque book</h1> 
        <input type="text" placeholder="acc number" required>
        <input type="text" placeholder="acc holder name" required>
        <input type="address" placeholder="enter the address" required>
        <input type="phone number" placeholder="enter the phone number"required>
        <input type="submit" value="Submit"> </form>
</body>
</html>